<div class="ml-5">
<h2><%= @user.name %>さんの会員詳細</h2>

  <table>
    <tbody>

      <tr>
        <td>会員ID　　　　　</td>
        <td><%= @user.id %></td>
      </tr>

      <tr>
        <td>氏名</td>
        <td><%= @user.name %></td>
      </tr>

      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>

    </tbody>
  </table>
</div>